.de-responsive-table {
    width: 100%;
    overflow-x: auto;
}

.de-responsive-table table {
    width: 100%;
    border-collapse: collapse;
}

.de-responsive-table th,
.de-responsive-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.de-responsive-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.de-responsive-table tr:hover {
    background-color: #75787B;
}

.de-responsive-table th {
    background-color: #4CAF50;
    color: white;
}

#de_vehiclesButton.de-vehicles-button {
    background-color: #ED8B00;
    /* Green background */
    border: none;
    /* No border */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Some padding */
    text-align: center;
    /* Centered text */
    text-decoration: none;
    /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* Pointer/hand icon */
    transition-duration: 0.4s;
    /* Transition effect */
}

#de_vehiclesButton.de-vehicles-button:hover {
    background-color: #75787B;
    /* Green background on hover */
}